@using ITNews.Core.Domain
@model ITNews.Web.ViewModels.Posts.CreatePostViewModel
@{
    ViewData["Title"] = "Create Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/markdownEditor.css" />

<form method="post" asp-controller="Post" asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <div class="form-group">
            <input type="text" placeholder="Post Name" asp-for="PostName" class="form-control" required />
            <span asp-validation-for="PostName"></span>
        </div>
        <div class="form-group">
            <select asp-for="PostType" asp-items="Html.GetEnumSelectList<PostType>()" style="
    color: gray;
"></select>
        </div>
        <div class="form-group">
            <input type="text" placeholder="Description" asp-for="Description" class="form-control" required />
            <span asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <textarea id="sourceMdArea" oninput="showMdPreview()" type="text" class="form-control form-control-sm mw-100" style="height: 500px" placeholder="Content" asp-for="Content" required></textarea>
                        <span asp-validation-for="Content"></span>
                    </div>
                    <div id="targetMdArea" class="col-md-6" style="height: 500px"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" placeholder="Tags" asp-for="Tags"  class="form-control"/>
            <span asp-validation-for="Tags"></span>
        </div>
    </div>
    <div>
        <input type="submit" class="btn btn-success btn-block btn-lg" value="Create" />
    </div>
</form>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/autoComplete.js"></script>
<script src="~/js/showdown-1.9.0/dist/showdown.min.js"></script>
<script src="~/js/markdownEditor.js"></script>
<script src="~/js/DragNDrop.js"></script>
<script>
    var dragNDrop = new DragNDrop("sourceMdArea");
    dragNDrop.create();
</script>

