@model ITNews.Web.ViewModels.Users.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<h2>Change Password for User @Model.UserName (@Model.Email)</h2>
<form asp-controller="Users" asp-action="ChangePassword">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="UserName" />
    <input type="hidden" asp-for="Email" />

    <div class="form-group">
        <input type="password" placeholder="New Password" asp-for="NewPassword" required />
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success btn-block btn-lg" value="Save" />
    </div>
</form>

